.root {
  position: relative;
  padding: var(--mantine-spacing-xl);
  transition: outline 150ms ease;

  &[data-checked] {
    outline: 3px solid var(--mantine-primary-color-filled);
  }

  @mixin hover {
    @mixin light {
      background-color: var(--mantine-color-gray-0);
    }

    @mixin dark {
      background-color: var(--mantine-color-dark-6);
    }
  }
}
